.card-container {

    border: 30px solid white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    user-select: none;

    .card {
        background-color: #EEEEEE;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 360px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 24px;
        flex-direction: column;

        .volum {
            cursor: pointer;
            position: fixed;
            top: 0px;
            left: 0px;
        }

        .volum div:hover {
            background-image: blue;
        }

        .content-front {
            color: black;
            font-size: 18px;
            font-weight: 600;
            top: 80px;
        }

        .vietNamese {
            font-size: 20px;
            font-weight: 600;
            color: black;
            position: absolute;
            top: 60%;
        }

        .wordtype {
            font-size: 20px;
            font-weight: 600;
            color: black;
            position: absolute;
            top: 50%;
        }

        .wordIPA {
            font-size: 20px;
            font-weight: 600;
            color: black;
            position: absolute;
            top: 150px;
        }

        .content-front-definition {
            position: relative;
            font-size: 18px;
        }
    }
}

.card {
    width: 360px;
}

.buttonContainer {
    position: absolute;
    bottom: 0;
    top: 650px;



    .buttonSaveWord, .buttonFlip{
        position: relative;
        width: 200px;
        background-color: rgba($color: #e4dd6f, $alpha: 1.0);
        margin: 0px;
    }

    .buttonSaveWord:hover, .buttonFlip:hover {
        margin: 0px;
        background-color: rgba($color: #e4dd6f, $alpha: 0.7);
    }

}

.buttonSaveWord {
    position: relative;
    width: 200px;
    background-color: rgba($color: #e4dd6f, $alpha: 1.0);
    margin: 0px;
}

.buttonSaveWord:hover {
    margin: 0px;
    background-color: rgba($color: #e4dd6f, $alpha: 0.7);
}

.click-disable {
    background-color: lightgray !important;
}

.click-disable:hover {
    background-color: lightgray !important;
}

.card-list {
    display: flex;
    position: relative;
    justify-content: center;
}

.definition {
    padding-top: 50px !important;
}

.TinderCard {
    position: absolute;
}


//   @for $i from 1 through 100 {
//     .TinderCard:nth-child(#{$i}) {
//       z-index: #{$i};
//     }
//   }
