 @import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
 @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

//  after {
//    margin    : 0;
//    padding   : 0;
//    box-sizing: border-box;
//  }

//  body {
//    
//  }

.topic{
    text-align: center;
    --color   : rgba(30, 30, 30);
       --bgColor : rgb(252, 252, 252);
       min-height: 100vh;
    
       display      : grid;
       align-content: center;
       gap          : 2rem;
       //   padding: 2rem;
    
       font-family: "Oxygen", sans-serif;
       color      : var(--color);
       background : var(--bgColor);
       margin-top: 0px;
}

 .topic-title {
    margin-bottom: 2rem;
   text-align: center;
   color     : black;
   text-transform: uppercase;
   font-size: 2rem;
   
 }

 

 ol {
   width        : min(60rem, 90%);
   margin-inline: auto;
   color        : black;
   display      : flex;
//    flex-wrap    : wrap;
   gap          : 2rem;

   list-style     : none;
   counter-reset  : cardnr;
   justify-content: center;
 }

 ol > li {
   --frontColor: white;
   --width     : 10em;
   --inlineP   : 0.5rem;
   --borderR   : 4rem;
   --arrowW    : 2rem;
   --arrowH    : 1.5rem;
  cursor: pointer;
   counter-increment: cardnr;
   width            : calc(var(--width) - var(--inlineP) * 2);
   display          : grid;
   grid-template    :
     "icon"var(--borderR) "title"
     "descr"1fr;
   margin-inline: var(--inlineP);
   margin-bottom: calc(var(--borderR));
   position     : relative;

   animation: bounce 0.5s ease-in-out forwards;

 }

 ol > li .icon,
 ol > li .title,
 ol > li .descr {
   background    : var(--frontColor);
  // background-color: white;
   padding-inline: 1rem;
   padding-bottom: 1rem;
 }

 ol > li .icon,
 ol > li .title {
   color         : var(--accent-color);
   text-align    : center;
   padding-bottom: 0.5rem;
 }

 ol > li .title,
 ol> li .descr {
   filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
 }

 ol > li .icon {
   grid-area       : icon;
   font-size       : 2rem;
   display         : grid;
   place-items     : center;
   border-radius   : var(--borderR) 0 0 0;
   position        : relative;
   background-color: pink;
 }

 ol > li .title {
   grid-area       : title;
   font-size       : 1.2rem;
   font-weight     : bold;
   background-color: aqua;
   text-align: center;
 }

 ol > li .descr {
   grid-area       : descr;
   font-size       : 0.9rem;
   text-align      : center;
   background-color: beige;
 }

 ol > li .descr::before {
   content   : "";
   width     : var(--arrowW);
   height    : var(--arrowH);
   position  : absolute;
   right     : 1.5rem;
   top       : 100%;
   background: inherit;
   clip-path : polygon(0 0, 100% 0, 50% 100%);
 }

 ol > li::after {
   content : counter(cardnr, decimal-leading-zero);
   position: absolute;
   z-index : -1;

   left  : calc(var(--inlineP) * -1);
   right : calc(var(--inlineP) * -1);
   top   : var(--borderR);
   bottom: calc(var(--borderR) * -1);

   display    : flex;
   align-items: flex-end;
   background : var(--accent-color);
   background-image: linear-gradient(160deg,
       rgba(255, 255, 255, 0.25),
       transparent 25% 75%,
       rgba(0, 0, 0, 0.25));
   border-radius: 0 0 var(--borderR) 0;

   --pad    : 1rem;
   padding  : var(--pad);
   font-size: calc(var(--borderR) - var(--pad) * 2);
   color    : white;
 }

 ol > li::before {
   content      : "";
   position     : absolute;
   height       : var(--borderR);
   top          : calc(100% + var(--borderR) - 2px);
   left         : calc(var(--inlineP) * -1);
   right        : calc(var(--inlineP) * -1);
   border-radius: 0 var(--borderR) 0 0;

   background-image: linear-gradient(var(--accent-color), transparent 60%);
   opacity         : 0.5;
   filter          : blur(2px);
 }


 @keyframes bounce {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}