.auth-buttons{
    margin-top: 200px;
    font-size: 30px;
    color: red;
}
.choose-game {
    display: flex;
    justify-content: center;
    width: 100%;
}
.auth-buttons > img {
    width: 400px;
    margin-left: 10px;
    border-radius: 100%;
}
.auth-buttons > img:hover {
    transform: scale(1.05);
}
