
.NavbarItems {
  background: rgb(245, 241, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10% 0px 5%;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 12%;
  border-radius: 10px;
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.NavbarItems:hover {
  opacity: 1;
}
.NavbarItems > a > h1 {
  margin-bottom: 0;
}
.navbar-logo {
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 4%;
  list-style: none;
  align-items: center;
}
.nav-links {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  // padding: 10% 10% 10% 10%;
  white-space: nowrap;
  
}

.nav-links i {
  padding-right: 2%;
}

.nav-links:hover {
  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.nav-links-mobile {
  display: none;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 1000px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    text-align: center;
    transition: 0.5s ease-in-out;
    border-radius: 13px;
  }
  .nav-menu.active {
    left: 0;
    border-radius: 10px;
    box-shadow: 10px 7px 7px 7px rgba(0, 0, 0, 0.25);
    opacity: 1;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }
  .nav-links {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 5% 0;
  }
  .nav-links:hover {
    background: #01959a;
    transition: none;
  }
  
  .menu-icons {
    // padding-right: -1%;
    padding-left: 20%;
    display: block;
    cursor: pointer;
  }
  .menu-icons > i {
    font-size: 1.2rem;
    color: #222;
  }
}
